/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
 чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.header,
.card {
  background-color: var(--bg-color);
  border: 2px solid var(--clr);
  
}

.page {
  min-block-size: 100dvb;
  font-family: var(--main-text), 'Inter', sans-serif;
  font-variation-settings: 'wght' var(--min-wght);
  font-size: var(--fnt-sz);
  color: var(--clr);
  inline-size: var(--width-page);
  min-inline-size: 375px;
  max-inline-size: 1440px;
  background-color: var(--bg-color);
  background-image: var(--image-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  body {
      font-family: var(--main-text), sans-serif;
  }
}


.header {
  font-family: var(--accent-text);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 368px;
  margin: 100px 0;
} 

.header__title {
  --fnt-sz: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);

  font-size: var(--fnt-sz);
} 

.header__subtitle {
  --fnt-sz: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);;

  font-size: var(--fnt-sz);
  padding-block-start: 20px;
}

.card {
  margin-block-end: 50px;
}

.card__title {
  --fnt-sz: 18px;

  font-size: var(--fnt-sz);
  font-variation-settings: 'wght' var(--max-wght);
  padding: 6px 10px 4px;
}

.card__img {
  inline-size: var(--width-img);
  block-size: auto;
}

.card__content {
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block-end: 27px;
}

/* кнопка Like */
.card__button {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 6px;
}

.button__text {
  --fnt-sz: 14px;

  font-family: var(--accent-text);
  font-size: var(--fnt-sz);
  border: 2px solid var(--clr);
  background-color: var(--bg-color);
}

.card__like-button {
  padding: 9px 35px;
}

/* label */
.card__wrapper {
  position: relative;
}

.card__wrapper__label {
  --fnt-sz: 14px;

  font-size: var(--fnt-sz);
  font-family: var(--accent-text);
  position: absolute;
  top: 27px;
  right: 25px;
  color: var(--clr);
  mix-blend-mode: hard-light;
  opacity: 0.5; 
  text-shadow: 1px var(--lnl-shdw);
}

@supports((text-stroke: 1px var(--lnl-shdw)) or (-webkit-text-stroke: 1px var(--lnl-shdw))) {
  .card__wrapper__label {
    -webkit-text-stroke: 1px var(--lnl-shdw);
    text-stroke: 1px var(--lnl-shdw);
    text-shadow: none;
  }
}

.card__wrapper__label_uppercase {
  text-transform: uppercase;
}

/* кнопка "Сохранить на память" */
.diskette__icon {
  display: none;
}

.memory {
  display: flex;
  margin: 50px auto 103px ;
}

.memory__button {
  padding: 15px 19px;
  display: flex;
  align-items: center;
  gap: 9px;
}

@media (width <= 375px) {
  .page {
    max-inline-size: 100vw;
  }

  .header {
    block-size: 327px;
  }

  .card__title {
    padding-block-start: 5px;
  }

  .card__wrapper__label {
    right: 11px;
  }

/* кнопка "Сохранить на память" */
  .memory__icon {
    inline-size: 28px;
    block-size: auto;
  }

  .memory__button {
    flex-direction: column;
  }
}