/* В этом файле будут храниться все значения переменных в исходном состоянии,
 а так же их изменения в зависимости от ширины устройства */
:root {
  --min-wght: 400;
  --max-wght: 700;
  --main-text: 'Inter-Variable';
  --accent-text: 'PressStart2P-Regular';
  --fnt-sz: 18px;
  --clr: #000;
  --bg-color: #fff;
  --image-bg: url(../images/background.svg);

  --width-page: clamp(375px, 80%, 700px);
  --width-img: clamp(372px, 100%, 700px);
  --lnl-shdw: #fff;

  --width-dialog: clamp(341px, 100%, 353px);
}