/* В этом файле будут храниться все значения переменных в исходном состоянии,
 а так же их изменения в зависимости от ширины устройства */
:root {
  --min-wght: 400;
  --max-wght: 700;
  --main-text: 'Inter-Variable';
  --accent-text: 'PressStart2P-Regular';
}