/* В этом файле будут храниться все значения переменных в исходном состоянии,
 а так же их изменения в зависимости от ширины устройства */
:root {
  --min-wght: 400;
  --max-wght: 700;
  --main-text: 'Inter-Variable';
  --accent-text: 'PressStart2P-Regular';
  --fnt-sz: 18px;
  --clr: #000;
  --clr-white: #fff;
  --bg-color: #fff;

  --width-page: clamp(375px, 80%, 700px);
  --width-img: clamp(372px, 100%, 696px);
  --lnl-shdw: #fff;

  --image-bg: 
      /* первый градиент */
      repeating-linear-gradient(
        to right, 
        #d3d3d3 0, 
        #d3d3d3 2px, 
        transparent 2px, 
        transparent 4px
      ),
      /* второй градиент */
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      /* третий градиент */
      linear-gradient(
        to bottom,
        rgba(231, 231, 231, 1) 0.01%, 
        rgba(26, 26, 26, 1) 100%
      );

  --contour-color: #000;
  --animation-fill-color: #FF0000;
}